name: Publish

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Compile and Deploy
        uses: jonhue/pubtex-action@main
        with:
          personal_token: ${{ secrets.DEPLOY_KEY }}
          files: |
            tutorial.tex
            token.tex
